<div class="center-xs middle-xs"><h1 class="text-center">Ingresa un nuevo producto</h1>

<%= render 'form', producto: @producto %>
  
<div class="">
<%= link_to 'Atras', productos_path  %>
</div>
</div>